<div id="sidebar-container" class="bg-primary">
  <div class="logo text-light fw-bold text-center">
    <h1 class="fw-bold uppercase" id="sidebar--container__title">
      Sistematico 4
    </h1>
  </div>

  <div class="menu">
    <a routerLink="/auth/home" class="d-block p-3 text-light fw-bold"
      ><ion-icon name="home"></ion-icon> Inicio</a
    >
    <a routerLink="/auth/register" class="d-block p-3 text-light fw-bold"
      ><ion-icon name="people"></ion-icon> Registrar Usuario</a
    >
    <a routerLink="auth/" class="d-block p-3 text-light fw-bold"
      ><ion-icon name="people"></ion-icon> Login</a
    >
  </div>
</div>
